.Welcome {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Welcome-cancel {
  margin-left: auto;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.description {
  text-align: center;
  font-size: .9rem;
}

.button {
  border: 1px solid transparent;
  background-color: #fff;
  padding: 8px 14px;
  color: rgb(2 132 199);
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s;
}

.button:hover {
  border: 1px solid #fff;
  background-color: rgb(2 132 199);
  color: #fff;
}